In [1]:
#Fuzzy Name Matching

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
#实现多输出
import pandas as pd
import numpy as np
import matplotlib.mlab as mlab  
import matplotlib.pyplot as plt  
import textdistance
import random

In [2]:
data = pd.read_excel('NameMatchingTrainingData.xlsx')
data.head()

,PRIMARY_NAME,ALT_NAME,State
0,GAZPROMBANK UPRAVLENIE AKTIVAMI,GAZPROMBANK ASSET MANAGEMENT ZAO,Match
1,GAZPROMBANK UPRAVLENIE AKTIVAMI,CLOSED JOINT-STOCK COMPANY GAZPROMBANK-UPRAVLE...,Match
2,UNITED INSTRUMENT MANUFACTURING CORPORATION,JSC-UNITED-INSTRUMENT-MANUFACTURING-CORPORATION,Match
3,"GAZ-OIL, OOO",GAZ-OIL,Match
4,Mr. Ken Wong,KEN WONG KAW,Match

In [3]:
def clean_data(name):
    data[name] = data[name].str.lower()
    data[name] =data[name].str.replace('mr.','')
    data[name] =data[name].str.replace('mrs.','')
    data[name] =data[name].str.replace('\n',' \n')
    data[name] =data[name].str.replace('\n',' \n')
    data[name] =data[name].str.replace('\n',' \n')
    data[name] =data[name].str.replace('.',' ')
    data[name] =data[name].str.replace(',',' ')
    data[name] =data[name].str.replace('\'','')
    data[name] =data[name].str.replace(' & ',' and ')
    data[name] =data[name].str.replace(' &',' and ')
    data[name] =data[name].str.replace('& ',' and ')
    data[name] =data[name].str.replace('&',' and ')
    data[name] =data[name].str.replace(' l p ',' lp ')
    data[name] =data[name].str.replace('l l p ','llp ')
    data[name] =data[name].str.replace('l l c ','llc ')
    data[name] =data[name].str.replace(' ltd ',' limited ')
    data[name] =data[name].str.replace(' p l c ',' plc')
    data[name] =data[name].str.replace(' co ltd ',' company limited ')
    data[name] =data[name].str.replace(' co ',' company ')
    data[name] =data[name].str.replace(' corp ',' corporation ')
    data[name] =data[name].str.replace(' univ ',' university ')
    data[name] =data[name].str.replace(' fdtn ',' foundation ')
    data[name] =data[name].str.replace(' inc ',' incorporated ')
    data[name] =data[name].str.replace(' assoc ',' association ')
    data[name] =data[name].str.replace(' mgmt ',' management ')
    data[name] =data[name].str.replace(' svsc ',' services ')
    data[name] =data[name].str.replace(' ag ',' aktiengesellschaft ')
    data[name] =data[name].str.replace(' govt ',' goverment ')
    data[name] =data[name].str.replace(' svgs ',' savings ')
    data[name] =data[name].str.replace(' intl ',' international ')
    data[name] =data[name].str.replace('intl ','international ')
    data[name] =data[name].str.replace(' investmentco lt ',' investment company limited ')
    data[name] = data[name].str.replace('the ','')
    data[name] = data[name].str.replace(' the ','')
    data[name] = data[name].str.strip()
clean_data('PRIMARY_NAME')
clean_data('ALT_NAME')

In [5]:
data

,PRIMARY_NAME,ALT_NAME,State
0,gazprombank upravlenie aktivami,gazprombank asset management zao,Match
1,gazprombank upravlenie aktivami,closed joint-stock company gazprombank-upravle...,Match
2,united instrument manufacturing corporation,jsc-united-instrument-manufacturing-corporation,Match
3,gaz-oil ooo,gaz-oil,Match
4,ken wong,ken wong kaw,Match
...,...,...,...
36864,mondelez global,valanzano and associates,Not Match
36865,verizon communications,horry county sc,Not Match
36866,central and south west corp,sony bmg music entertainment,Not Match
36867,bw consulting,salvation army - eastern division,Not Match
36868,temple-inland,colonial life and accident insurance co,Not Match

In [6]:
def InStringSerch(a,b):
    return int(a in b or b in a)

In [7]:
data['Cosine Similarity'] = [textdistance.cosine.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Levenshtein Distance'] = [textdistance.levenshtein.distance(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Jaro-Winkler Distance'] = [textdistance.jaro_winkler.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Jaccard Index'] = [textdistance.jaccard.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Monge Elkan'] = [textdistance.monge_elkan.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['MRA'] = [textdistance.mra.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Longest Common Substring'] = [textdistance.lcsstr.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['Longest Common Subsequence'] = [textdistance.lcsseq.similarity(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]
data['In String Search'] = [InStringSerch(str(data.iloc[i]['PRIMARY_NAME']),str(data.iloc[i]['ALT_NAME'])) for i in range(len(data))]

In [8]:
writer = pd.ExcelWriter('data.xlsx')
data.to_excel(writer)
writer.save()